.project-container {
    .nav {
        display: flex;
        padding: 0.5em 1em;
        background-color: white;
        align-items: center;
        .page-title {
            width: 50%;
            text-align: left;
            h2 {
                line-height: 1em;
                margin: 0;
                font-weight: 400;
                @media screen and (max-width:1024px) {
                    font-size: 1em !important;
                }
            }
        }
        .controls {
            width: 50%;
            .ui {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height:25px;
                .item {
                    cursor: pointer;
                    overflow: hidden;
                    &.up[data-index="1"] {
                        pointer-events: none !important;
                        .icon {
                            opacity:0.5;
                            filter: brightness(0.5);
                        }
                    }
                    .icon {
                        min-height: 20px;
                        width: 20px;
                        background-size: contain;
                        background-position: center center;
                        background-repeat: no-repeat;
                        filter: brightness(0);
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .project-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0px 10px;
        max-width: 1500px;
        margin: 0 auto;
        opacity: 0;
        visibility: hidden;
        .read-more.button{
            display:none;
        }
        @media screen and (max-width:1024px) {
            max-width: 800px !important;
            .description, .carousel-wrapper {
                width: 100% !important;
                max-width: 100% !important;
            }
            .read-more.button{
                display: block !important;
                cursor: pointer;
                color:black;
                font-weight: 600;
            }
            .extra-content {
                display: none;
                &.open{
                    transition:0.3s;
                    position: absolute;
                    top:0;
                    bottom:0;
                    left:0;
                    right:0;
                    width:100%;
                    height:100%;
                    background:white;
                    display: flex;
                    display:-webkit-flex;
                    align-items:center;
                    -webkit-align-items:center;
                    z-index:99999999;
                    &:after{
                        content:"close";
                        position: absolute;
                        top:0;
                        right:0;
                        padding:1em;
                        cursor: pointer;
                    }
                    div{
                        padding:0.5em;
                    }                    
                }
            }
            .carousel {
                padding-left: 0 !important;
            }
        }
        .description {
            width: 27%;
            max-width: 350px;
            h2 {
                font-size: 2em;
                line-height: 1em;
                margin: 0;
                font-weight: 500;
                padding-bottom: 0.5em;
                @media screen and (max-width:1024px) {
                    font-size: 1em !important;
                    font-weight: 600;
                }
            }
        }
        .carousel-wrapper {
            width: 70%;
            .carousel {
                padding-left: 1em;
                max-width: 1100px !important;
                margin: 0 auto;
            }
        }
    }
}