/* PROJECT ITEM */
.collection-type-david_projects.view-item {
    .hentry {
        padding: 1em !important;
    }
    .pagination {
        text-align: center;
        padding: 1em !important;
        margin-bottom: 2em;
        a:nth-child(2) {
            margin-left: 2em !important;
        }
    }
}
